<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KLT_LedShow.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KLT_LedShow.My.MySettings>
            <setting name="IPRange" serializeAs="String">
                <value>192.168.0.0/24</value>
            </setting>
            <setting name="DatabaseFolder" serializeAs="String">
                <value>E:\KLT\LedShow\KKLT Led Show v2\KLT LedShow\Database</value>
            </setting>
            <setting name="MonitorControl" serializeAs="String">
                <value>Screen 1</value>
            </setting>
            <setting name="MonitorPrimary" serializeAs="String">
                <value>Screen 2</value>
            </setting>
            <setting name="MonitorSecond" serializeAs="String">
                <value>Screen 3</value>
            </setting>
            <setting name="ProjectName" serializeAs="String">
                <value>Titanic</value>
            </setting>
            <setting name="Locked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PaletteImagesPath" serializeAs="String">
                <value>E:\KLT\LedShow\KKLT Led Show v2\ColorMaps</value>
            </setting>
            <setting name="EffectsImagePath" serializeAs="String">
                <value>E:\KLT\LedShow\KKLT Led Show v2\Effects</value>
            </setting>
            <setting name="DDPPort" serializeAs="String">
                <value>4048</value>
            </setting>
            <setting name="LedsPerMeter" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="PodiumBreedte" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="PodiumHoogte" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="CustomEffectC1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectC2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectC3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectC4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectC5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectIntensity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CustomEffectSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CustomEffectBrightness" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CustomEffectDirection" serializeAs="String">
                <value>UP</value>
            </setting>
            <setting name="CustomEffectPosition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CustomEffectDuration" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="CustomEffectBrightnessEffect" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="CustomEffectDispersion" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ScriptPDF" serializeAs="String">
                <value />
            </setting>
            <setting name="SplitPosition" serializeAs="String">
                <value>800</value>
            </setting>
            <setting name="RemoteKey_TL" serializeAs="String">
                <value>CTRL+SHIFT+ALT+F1</value>
            </setting>
            <setting name="RemoteKey_TC" serializeAs="String">
                <value>CTRL+SHIFT+ALT+F2</value>
            </setting>
            <setting name="RemoteKey_TR" serializeAs="String">
                <value>PGUP</value>
            </setting>
            <setting name="RemoteKey_BL" serializeAs="String">
                <value>CTRL+SHIFT+ALT+F3</value>
            </setting>
            <setting name="RemoteKey_BC" serializeAs="String">
                <value>CTRL+SHIFT+ALT+F4</value>
            </setting>
            <setting name="RemoteKey_BR" serializeAs="String">
                <value>PGDOWN</value>
            </setting>
            <setting name="RemoteKeyTL_Action" serializeAs="String">
                <value>START</value>
            </setting>
            <setting name="RemoteKeyTC_Action" serializeAs="String">
                <value>NEXTACT</value>
            </setting>
            <setting name="RemoteKeyTR_Action" serializeAs="String">
                <value>SCRIPT_PGUP</value>
            </setting>
            <setting name="RemoteKeyBL_Action" serializeAs="String">
                <value>NEXTSCENE</value>
            </setting>
            <setting name="RemoteKeyBC_Action" serializeAs="String">
                <value>NEXTEVENT</value>
            </setting>
            <setting name="RemoteKeyBR_Action" serializeAs="String">
                <value>SCRIPT_PGDOWN</value>
            </setting>
        </KLT_LedShow.My.MySettings>
    </userSettings>
</configuration>
